// 1. COLOR :
$primary: #ff6060;
$secondary: #000000;
$white: #ffffff;
$gray: #f6f6f6;

// 2. FONT :
$font: "Montserrat", sans-serif;

$size: 2.4rem;
$size-mobil: 1.2rem;

$size-content-collapse: 1.2rem;

$size-tag-desktop: 1.4rem;
$size-tag-mobil: 1rem;

$size-h1: 4.8rem;
$size-h2: 3.6rem;
$size-h1-mobil: 2.4rem;
$size-h2-mobil: 1.8rem;
$size-h3-mobil: 1.3rem;

$size-p-mobile: 1.4rem;

$size-elem: 1.8rem;

// 3. URL :
$logofooter: url(../img/logo_footer.png);
$logo: url(../img/logo.png);
$logomobil: url(../img/logo_mobil.png);

$backgroundHome: url(../img/image1.png);
$backgroundApropos: url(../img/image2.png);
$arrow: url(../img/arrow.png);
